body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maps
{
    height: 100vh;
    width: 100vw;
}

.info-title
{
    /* background-color:azure; */
}
.click-window
{
    height: 400px !important;
    width: 250px !important;
    box-sizing: border-box !important;
}
.hover-window
{
    width: 250px !important;
    height: fit-content !important;
    box-sizing: border-box !important;
}
.hover-title
{
    font-size: 13px;
}
.hover-text
{
    font-size: 13px; 
}

.info-heading
{
    font-size: 15px;
}